<div class="container">
    <div class="row my-3 justify-content-center">
        <div class="col-12">
            <form action="" class="row justify-content-center" [formGroup]="addressForm">
                <div class="row justify-content-between p-0 form-floating">
                    <div class="col-12">
                        <div class="row my-2">
                            <div class="form-floating main-address-input col-11 p-0">
                                <input autocomplete="false" type="text" class="form-control" id="addressInput"
                                    ngx-google-places-autocomplete [options]="searchOptions"
                                    (onAddressChange)="handleAddressChange($event)" (blur)="verifyEmptyInput()">
                                <label for="addressInput" class="complete-input-label">
                                    Insira o endereço completo
                                </label>
                            </div>
                            <div class="clean-input-btn col-1 p-0 m-0" (click)="cleanAddressInput()">
                                <button class="btn">
                                    <i class="bi bi-x-circle"></i>
                                </button>
                            </div>
                        </div>
                        <span class="hide" id="rewriteAlert">
                            <i class="bi bi-exclamation"></i>
                            Insira um endereço válido: <strong>Rua, número, bairro ...</strong>
                            <i class="bi bi-exclamation"></i>
                        </span>
                    </div>
                    <div class="row p-0" *ngIf="componentsAddress?.length > 0">
                        <div class="col-6">
                            <div class="form-floating">
                                <input autocomplete="false" type="text" id="streetAddressInput" placeholder="Rua"
                                    class="form-control" formControlName="street">
                                <label for="streetAddressInput">Rua</label>
                            </div>
                        </div>
                        <div class="col-2">
                            <div class="form-floating">
                                <input autocomplete="false" type="text" id="numberAddressInput" placeholder="Número"
                                    class="form-control" formControlName="numberFinal" mask="0*">
                                <label for="numberAddressInput">Número</label>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="form-floating">
                                <input autocomplete="false" type="text" id="complementAddressInput"
                                    placeholder="Complemento" class="form-control" formControlName="complement">
                                <label for="complementAddressInput">Complemento</label>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-floating">
                                <input autocomplete="false" type="text" id="districtAddressInput" placeholder="Bairro"
                                    class="form-control" formControlName="district">
                                <label for="districtAddressInput">Bairro</label>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="form-floating">
                                <input autocomplete="false" type="text" id="cityAddressInput" placeholder="Cidade"
                                    class="form-control" formControlName="city">
                                <label for="cityAddressInput">Cidade</label>
                            </div>
                        </div>
                        <div class="col-2">
                            <div class="form-floating">
                                <input autocomplete="false" type="text" id="stateAddressInput" placeholder="Estado"
                                    class="form-control" formControlName="state">
                                <label for="stateAddressInput">Estado</label>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="row justify-content-center" *ngIf="componentsAddress?.length > 0">
        <div class="col-12">
            <div class="row p-0 my-4 justify-content-between">
                <div class="col-4">
                    <select class="form-select" aria-label="Default select example">
                        <option class="select-option" selected>Tipo do veículo</option>
                        <option class="select-option" value="1">Bicicleta</option>
                        <option class="select-option" value="2">Caminhão</option>
                        <option class="select-option" value="3">Moto</option>
                        <option class="select-option" value="4">Patinete</option>
                        <option class="select-option" value="5">Utilitário</option>
                        <option class="select-option" value="6">Moto Elétrica</option>
                    </select>
                </div>
                <div class="col-4 d-flex justify-content-end">
                    <button class="btn btn-outline-primary" (click)="createDestinationObject()"
                        [disabled]="!addressForm.valid && !typeSelect.valid">
                        Confirmar
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="row " *ngIf="distanceTotal?.text && componentsAddress?.length > 0">
        <app-delivery-distance [distanceObj]="distanceTotal" [trajectoryObj]="trajectoryObject"></app-delivery-distance>
    </div>
    <div class="row">
        <div class="col-11">
            <input type="text" class="form-control py-2" #mapSearchField>
        </div>
    </div>
    <div class="row">
        <google-map height="480px" width="100%" [center]="center" [zoom]="zoom" (mapClick)="getLocation($event)" [options]="mapOptions">
            <map-marker [position]="marker?.position" [options]="markerOptions"></map-marker>
        </google-map>
    </div>
    <div class="row">
        <h4>{{location?.lat}}</h4>
        <h4>{{location?.lng}}</h4>
    </div>
</div>