.pac-container {
    box-shadow: none;
    border: 1px solid rgb(226, 226, 226);
    border-radius: 8px !important;
}

.pac-item {
    padding: .8em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}